<div class="container home">
  <p class="text" (click)="openModal()">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
  <p class="text">Home content</p>
</div>

<div class="container m-modal" (click)="onSwipeDown()" #mModal>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
  <p class="text">Modal content</p>
</div>